/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
table {
  width:80%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
}

.mat-icon {
  font-size: 8px;
  color: red;
}
